<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">

    <title>Eval Home</title>
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="icons/site.webmanifest">
    <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!--VueJS-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!--Security-->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="oauth/colsecurity.js""></script>

    <style>
        [v-cloak] {display: none}
        *{font-family:Roboto;}
        .container{max-width: 1100px; padding:1.5em; padding-bottom:3em; margin-bottom:20em !important; box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;}        
        .collection-header >h5 {margin-top:10px; margin-bottom:2px; margin-left:5px;}
        .collection-item {padding-top:2px !important;}
        .collection-item > h6 {font-weight: bold;}
        .collection-item > a {margin-left:-13px;}
    </style>
</head>

<body style="background-color:whitesmoke;">
    
    <div id="app" v-cloak>
        <div class="navbar">
            <nav>
                <div class="nav-wrapper deep-purple white-text">
                    <a class="brand-logo">&nbsp Evaluation Forms</a>
                </div>
            </nav>       
        </div> <!--end navbar-->
       
        <!--Username-->
        <div class="row">
            <div class="col s12">
                {{(username.length == 0 ? "Getting username..." : username)}}
            </div>
        </div>
        

        <div class="container white">     
            <!--Welcome-->
            <div class="row">
                <div class="col s12">
                    <p>
                        <h4 class="center-align purple-text text-darken-3">City of Lewisville - Performance Evaluation System</h4>
                        <br>
                        <ul class="collection white">

                            <!--Annual Forms-->
                            <!--<li class="collection-header purple-text text-darken-3"><h5>Annual Evaluation Forms</h5></li>-->
                            <li class="collection-item">
                                <h6>Employee Input Form</h6>
                                Employees will receive an email 30 days before their evaluation due-date with a link to their input-form.
                                <br>
                                <i>New</i> Employee Input Forms can only be started once the employee receives the email with the link.
                                <br>
                                <a class="waves-effect waves-teal btn-flat blue-text" @click="formType='self_assessments'; getRecords('self_assessments')">View All</a>
                            </li>
                            <li class="collection-item">
                                <h6>Evaluations</h6> 
                                Supervisors will receive an email 30 days pior to an employee's evaluation due-date with a link to the evaluation form.
                                <br>
                                <i>New</i> evaluations can only be started once the supervisor receives the email with the link.
                                <br>
                                <a class="waves-effect waves-teal btn-flat blue-text" @click="formType='evaluations'; getRecords('evaluations')">View All</a>
                            </li>

                            <!--<li class="collection-header purple-text text-darken-3"><h5>Supervisor Logs</h5></li>-->
                            <li class="collection-item">
                                <h6>Supervisor Logs</h6> 
                                Supervisors should use this area to log counseling, oral reprimands, written reprimands and suspensions.
                                <br>
                                <a class="waves-effect waves-teal btn-flat blue-text" href="https://forms.cityoflewisville.com/formentry/index.html?formID=88" target="_blank">New</a>
                                &nbsp <span class="grey-text">|</span> &nbsp
                                <a class="waves-effect waves-teal btn-flat blue-text" @click="formType='supervisor_logs'; getRecords('supervisor_logs')">View All</a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <!--Records Loading-->
            <div class="row" v-show="recordsAreLoading == true">
                <div class="col s12 center-align">
                    Loading...
                </div>
            </div>

            <!--No records found-->
            <div class="row" v-show="noRecordsFound == true">
                    <div class="col s12 center-align">
                        No {{formTypePretty}} Found
                    </div>
                </div>

            <!--Records-->
            <div class="row" v-show="records.length > 0">
                <div class="col s12">
                    <h4>{{formTypePretty}}</h4>
                    <div class="row" v-for="record in records">
                        <div class="col s12">
                            <a :href="record.link" target="_blank">{{record.EmployeeName}} <span v-if="formType=='self_assessments' || formType=='evaluations'"> | {{formatDate(record.Evaluation_Period_Start_Date)}} to {{formatDate(record.Evaluation_Period_End_Date)}}</span></a>
                        </div>                        
                        <div class="col s12"><hr></div>
                    </div>
                </div>
            </div>
            
        </div> <!--end container-->

    </div>  <!--end app-->

    <!--=======================================================-->
    <!--Javascript-->
    <!--=======================================================-->
    <script>
        "use strict"

        var app = new Vue({
            el: "#app",
            data: {
                records: [],
                recordsAreLoading: false,
                noRecordsFound: false,
                formType: "",
                username: ""
            },
            methods: {
                init: function(){
                    var _this = this
                    setTimeout(function(){
                        _this.username = localStorage.colEmail
                    },1500)
                },
                getRecords: function(_formType){
                    var _this = this

                    //Reset variables
                    _this.records.length = 0
                    _this.recordsAreLoading = true
                    _this.noRecordsFound = false

                    axios.post('https://query.cityoflewisville.com/v2', {
                        webservice: "Evals_ByType_AuthorizedOnly_GetAll",
                        auth_token: localStorage.colAuthToken,
                        formtype: _formType,
                        employee_email: localStorage.colEmail
                    })
                    .then(function(_results){  
                        if (typeof _results.data[0][0] != 'undefined'){
                            _this.records = _results.data[0]

                            if (_this.records.length == 0){
                                _this.noRecordsFound = true
                            }
                        }else{
                            _this.records.length = 0
                            _this.noRecordsFound = true
                            _this.recordsAreLoading = false
                        }
                        _this.recordsAreLoading = false
                    })
                    .catch(function(error){ 
                        console.error(error)
                        _this.records.length = 0
                        _this.noRecordsFound = true
                        _this.recordsAreLoading = false
                    })
                },
                formatDate: function(_sqlFormattedDateTime){
                    var _this = this
                    return _sqlFormattedDateTime.substr(0,10)
                }                
            },
            computed:{
                formTypePretty: function(){
                    var _this = this
                    var _formTypePretty = 'Unknown'
                    if (_this.formType == 'accomplishments'){ _formTypePretty = 'Accomplishments' }
                    if (_this.formType == 'evaluations'){ _formTypePretty = 'Evaluations' }
                    if (_this.formType == 'self_assessments'){ _formTypePretty = 'Employee-Input Forms' }
                    if (_this.formType == 'supervisor_logs'){ _formTypePretty = 'Supervisor Logs' }
                    return _formTypePretty
                }
            }
        });
        document.addEventListener('DOMContentLoaded', function(){
            app.init()
        })
        
    </script>
</body>
</html> 